h1 {
      width: 95%;
      color: #3b3b3b;
 }
 
 
.contenido {
   border-right: .1em solid #4b4b4b;
   padding: .5em .9em .5em .5em;
   margin: 10;

   display: inline-block;
 
   border-radius: 2em;
   width:80%;
   display: inline-block;
 
 
   font-family: URW Gothic L;
   text-align: left;

 }
 
#titulo_contenido {
   border-collapse: collapse;
 
   padding: .5em .5em .5em .5em;
   margin: 10;
   display: inline-block;
 
 
   border-radius: 2em;
   width:60%;
   display: inline-block;
 
   font-family: URW Gothic L;
   color: #ad5600;
}
 
#inscribete {
   right: 2em; 
   padding:2em;
   top: 5em;
   position: fixed;
   opacity: 0.9;

   background-color: #ebebeb;
   font-family: URW Gothic L;
   text-align: center;
   font-size: 1.4em;
  	font-weight: bold;
}
 
 
 
#fuente {
   border-collapse: collapse;  
   padding: .5em .5em .5em .5em;
   margin: 10;
   display: inline-block;
   font-family: URW Gothic L;
   color: #4b4b4b;
 }
 