/*generales*/
* {	
	margin: 0;
	padding: 0;
	outline: 0 none;
	}
	
html, body {
	width: 100%;
}

/*encabezado*/
header { 
   border-top: .2em solid black;
   border-bottom: .2em solid black;
	padding: 0em .3em .3em 1em;
   
   background-color: #c7c7c7;
	border-color: #d17214;
   
	position: fixed;
	top: 0px;
	width: 100%;	
   font-family: URW Gothic L;
   text-align: left;
   z-index:0;
	}

#title, #login{
	margin: 0;
	display: inline-block;
	}

#title{
	padding-left: .3em;
	left: 0px;
	width: 12%;	
	color: #3b3b3b;
	}

#login{
	min-width: 54.5%;
	text-align: right;	
	margin: 0;
	font-size:20px;
	}

.imgTitle{
	width: 50px;
	height: 45px;
	padding-top: .7%;
	padding-left: 7%;
	}


/*menu principal*/
#menu{
position: fixed;
width: 100%;	
	}

#nav,#nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#nav {
    font-family: "Lucida Sans Unicode",Verdana,Arial,sans-serif;
    font-size: 13px;
    height: 0px;
    list-style: none outside none;
    text-shadow: 0 -1px 3px #202020;
    width: 95%;
    /* box shadow */
    -moz-box-shadow: 0px 3px 3px #cecece;
    -webkit-box-shadow: 0px 3px 3px #cecece;
    box-shadow: 0 3px 4px #8b8b8b;

 
}
#nav li {
    border-bottom: 1px solid #575757;
    border-left: 1px solid #929292;
    border-right: 1px solid #5d5d5d;
    border-top: 1px solid #797979;
    display: block;
    float: left;
    height: 34px;
    position: relative;
	top: 73px;
    width: 19%;
}
#nav > li:first-child {
    border-left: 0 none;
    margin-left: 5px;
}
#nav ul {
    left: -9999px;
    position: absolute;
    top: -9999px;
    z-index: 2;
}
#nav ul li {
    background: none repeat scroll 0 0 #838383;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    width: 100%;
}
#nav li a {
    color: #FFFFFF;
    display: block;
    line-height: 34px;
    outline: medium none;
    text-align: center;
    text-decoration: none;

    /* gradient */
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #787878),
     color-stop(0.5, #5E5E5E), color-stop(0.51, #707070), color-stop(1, #838383));
    background-image: -moz-linear-gradient(center bottom, #787878 0%, #5E5E5E 50%, #707070 51%, #838383 100%);
    background-color: #5f5f5f;
}

/* keyframes #animation */
@-webkit-keyframes animation {
    0% {
        -webkit-transform: scale(1);
    }
    30% {
        -webkit-transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1.1);
    }
}
@-moz-keyframes animation {
    0% {
        -moz-transform: scale(1);
    }
    30% {
        -moz-transform: scale(1.2);
    }
    100% {
        -moz-transform: scale(1.1);
    }
}
#nav li > a:hover {
    /* CSS3 animation */
    -webkit-animation-name: animation;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: animation;
    -moz-animation-duration: 0.3s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: 1;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
}
#nav li:hover ul {
    left: 0;
    top: 0px;
    width: 150px;
}

/*contenido*/
.seccion {
      padding: .5em .5em .5em .5em;
      margin: 10;
      width:50%;
      display: inline-block;

      font-family: URW Gothic L;
      font-size: 90%;
      -webkit-box-shadow: 18px 14px 17px -8px rgba(23,19,23,1);
		-moz-box-shadow: 18px 14px 17px -8px rgba(23,19,23,1);
		box-shadow: 18px 14px 17px -8px rgba(23,19,23,1);
}

.seccion article {
      width: 95%;
}

#tip{
	background-image: url("../img/notas.jpg");
	height: 250px;
	text-align: center;
	width: 350px;
	margin: 30px;
	margin-left: 160px; 
	}

#divTip{
	height: 50%;
	width: 70%;
	padding-left: 15%;
	vertical-align: middle;
	padding-top: 20%;
	}

aside {
      padding: .3em .3em .3em .3em;
      margin: 8;
      float: right;
      width: 40%;
      height: 300px;
      display: inline-block;
      font-family: URW Gothic L;
      list-style-type: none;
      text-align: right;	
}

.imgContent{
	margin: 15px;
	margin-right: 40px;
	height: 50px;
	vertical-align: middle;
	}
	
.imgContent, .enlace{
	display:inline-block;	
	}
	
.enlace {
	width: 78%;	
	margin-bottom: 15px;
	}

.content {
	padding-top: 120px;
	top: 120px;	
	}

hr{
	margin: 30px;
	border-top: 3px #000 dashed;
	border-left: none;
	border-bottom: none;
	border-right: none;	
	}

