header { 
	border-collapse: collapse;
	border: .2em solid black;
	padding: 0em .3em .3em 1em;
      margin: 10;

      background-color: #ffb061;
      border-radius: 2em;

      font-family: URW Gothic L;

      text-align: left;
}

#menu_principal {
      border-collapse: collapse;
      border: .2em solid black;
      padding: .5em 1em .5em 1em;
      margin: 10;

      background-color: #141414;
      border-radius: 2em;

      font-family: URW Gothic L;
}

#menu_principal nav a{
      color: white;
}

#slider {
      border-collapse: collapse;
      border: .1em solid black;
      padding: 10em 10em 10em 10em;
      margin: 10;

      border-radius: 2em;
      
}

.seccion {
      border-collapse: collapse;
      border: .1em solid black;
      padding: .3em .3em .3em .3em;
      margin: 10;

      border-radius: 2em;
      width:50%;

      float: absolute;
      display: inline-block;

      font-family: URW Gothic L;
}

.seccion article {
      width: 95%;
}

section {
      border-collapse: collapse;
	border: .2em solid black;
	padding: 7px;
}

article {
      border-collapse: collapse;
	border: .2em solid black;
	padding: 7px;
}

aside {
      border-collapse: collapse;
      border: .1em solid black;
      padding: .3em .3em .3em .3em;
      margin: 10;

      border-radius: 2em;
      width: 45%;


      float: right;
      display: inline-block;
}

aside li{
      border-collapse: collapse;
      
      padding: 1em 1em 3em 1em;
      margin: 10;

      border-radius: 2em;

      font-family: URW Gothic L;
      font-size: 130%;
}

header div nav{
      min-width: 50%;
      text-align: right;      
      margin: 10;
}

h1 {
      color: #3b3b3b;
}