header { 
	border-collapse: collapse;
	border: .5em solid black;
	padding: 7px;
      background-color: #ffb061;
      border-radius: 2em;
      font-family: sans-serif;
}

section {
      border-collapse: collapse;
	border: .2em solid black;
	padding: 7px;
}

article {
      border-collapse: collapse;
	border: .2em solid black;
	padding: 7px;
}

aside {
      border-collapse: collapse;
	border: .2em solid black;
	padding: 4px;
}

aside li{
      border-collapse: collapse;
	border: .09em solid black;
	padding: 4px;
}

header div nav{
      min-width: 50%;
      text-align: right;      
      margin: 10;
}